body {
    margin: 0;
    background-color: #073763;
    color: #eeeeee;
    font-family: Courier New, Courier, monospace;
    text-align: center;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;   
}

/* Score buttons and scoreboard */

.btn {
    background: #073763;
    color: #eeeeee;
    font-family: Courier New, Courier, monospace;
    border: 1px solid #eeeeee;
    border-radius: 5px;
}

.team {
    text-align: center;
}

.score {
    background: #080001;
    color: #F94F6D;
    text-align: center;
    padding: 10px 5px;
}

/* Period section */
.period {
    display: inline-block;
}

.period-display {
    background: #080001;
    margin: 2px auto;
    padding: 10px 25px;
    font-family: Courier New, Courier, monospace;
    color: #F94F6D;
    font-size: 30px;
    font-weight: 500;
}

.period-btn {
    margin: 5px 0;
}

/* Reset score */

#reset {
    margin: 10px;
    padding: 5px 5px;
}

#new-game {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}